version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: chat_backend
    env_file: .env
    environment:
      - HOST=0.0.0.0
      - PORT=8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend/static:/app/backend/static
      - ./backend/uploads:/app/backend/uploads
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: chat_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

# No volumes needed for local DB since we use Atlas
