fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
python-dotenv
pydantic-settings
google-genai
langchain
langchain-core
langchain-openai
websockets
certifi

